node_modules/
.env
dist/
build/
.DS_Store
*.log
services/doctor-service/.env
services/appointment-service/.env
services/telemedicine-service/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Thumbs.db

k8s/secrets.yaml
