# App Config
PORT=5000
NODE_ENV=development

# Database Config
MONGODB_URI=mongodb://localhost:27017/medizen-payment

# Gateway Config (Placeholders)
STRIPE_SECRET_KEY=
WEBHOOK_SECRET=

# RabbitMQ Config
RABBITMQ_URL=amqp://localhost
RABBITMQ_QUEUE=notifications_queue
