PORT=5009
MONGODB_URI=mongodb://localhost:27017/admin_db
CLERK_SECRET_KEY=sk_test_...
AUTH_DB_URI=mongodb://localhost:27017/users
DOCTOR_DB_URI=mongodb://localhost:27017/doctor_db
PATIENT_DB_URI=mongodb://localhost:27017/patient_db
PAYMENT_DB_URI=mongodb://localhost:27017/payment_db
APPOINTMENT_DB_URI=mongodb://localhost:27017/appointment_db
AUTH_SERVICE_URL=http://localhost:5001
NODE_ENV=development
