# App Config
PORT=5008
NODE_ENV=development

# Database Config
MONGODB_URI=mongodb://localhost:27017/medizen-notifications

# Vonage SMS Config
VONAGE_API_KEY=your_vonage_key_here
VONAGE_API_SECRET=your_vonage_secret_here
VONAGE_FROM=MediZen

# SMTP Email Config (Nodemailer)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_FROM=noreply@medizen.com

# RabbitMQ Config
RABBITMQ_URL=amqp://localhost
RABBITMQ_QUEUE=notifications_queue
